*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  color:darkblue
}
#login-form{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 2rem auto;
}
input{
  height: 40px;
  margin: 0.5rem 0;
  padding: 1rem;
}
button{
  height: 40px;
  margin: 0.5rem 0;
  cursor: pointer;
}
#error-message{
  color: red;
  margin: auto;
  text-align: center;
}