<div class="container">
  <div class="row">
    <div class="">
      <app-nav-bar></app-nav-bar>

      <div class="">
        <table class="table table-bordered table-responsive table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Image</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
              <td><img [src]="user.avatar" width="40" height="40"></td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator 
        [length]="totalUsers"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>